@font-face {
	font-family: 'Mathlete';
	src: local('Mathlete-Skinny'),
			url('Mathlete-Skinny.woff2') format('woff2'),
			url('Mathlete-Skinny.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
